.App {
  text-align: center;
  background-color:#61dafb;
  font-family: 'Times New Roman', Times, serif;
  background-image: "doctor.jpg";
}
.icons
{
  text-align: center;}
.icons{
  height: 50px;
  
}
#icon-green
{
  height: 50px;
  width: 50px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bod
{
  color: #282c34;
  background-color: #61dafb;
}
.home
{
  font-size:x-large;
 height: 50px;
 color: 	#696969;
text-align: left;
border-radius: 10%;
border-color: #61dafb;
font-family: 'Times New Roman', Times, serif;
}
.bt
{
  font-size:x-large;
  height: 50px;
  color: black;
  text-align: left;
 border-radius: 10%;
 border-bottom:10px;
 color:black;
 color: 	#696969;
 font-family:'Times New Roman', Times, serif
 
}
.iconhome
{
  color: #55b5cf;
 
}
.buttonsp
{
  background-color:whitesmoke;
  border: solid;
  color:#6CADDE;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: relative;
  height:relative;
}
.buttonsp:hover
{
  color: whitesmoke;
  background-color:#6CADDE;
    opacity: 0.8;
    animation: bounce 1s;
    border-color: #DDEDF4 ;
   

}
.img
{height: 1px;
  width: 1px;
  opacity: 0.5;
  image-resolution: 100px 100px;
  mask-image: -o-repeating-linear-gradient();
}